.category-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
}

.employment-type-list {
  list-style-type: none;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 0;
}

.employment-type-item {
  margin-bottom: 8px;
}
